<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




    <context:component-scan base-package="com.exlibris.quoters"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="talkingRobot" class="com.exlibris.quoters.TalkingRobotImpl">
        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>
    <bean id="shakespearQuoter" class="com.exlibris.quoters.ShakespearQuoter">
        <property name="message" value="${shake}"/>
    </bean>
    <bean id="terminatorQuoter" class="com.exlibris.quoters.TerminatorQuoter" destroy-method="killAll">
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>
</beans>